/.idea/
/pkg/structs/tree/
/pkg/pipes/pipe2/
/pkg/pipes/connectable/
/pkg/pipes/arrays/sorted_test.go
/pkg/structs/search/
/pkg/datastr/tree/
/pkg/patterns/egg/
/pkg/datastr/graphs/constructor.go
/pkg/datastr/graphs/constructor_test.go
/pkg/datastr/graphs/patterns.go
/pkg/datastr/graphs/patterns_test.go
/pkg/conc/producers/streamables/concurrency_test.go
/golangci-lint.yml
/atks/
/pkg/core/ranges/sentinels/
