/.idea/
/structs/tree/
/gflux/core/pipes/pipe2/
/gflux/core/pipes/connectable/
/gflux/core/pipes/arrays/sorted_test.go
/structs/search/
/datastr/tree/
/patterns/egg/
/datastr/graphs/constructor.go
/datastr/graphs/constructor_test.go
/datastr/graphs/patterns.go
/datastr/graphs/patterns_test.go
/conc/producers/streamables/concurrency_test.go
/golangci-lint.yml
/atks/
/core/ranges/sentinels/
/gflux/event/amc/
/gflux/event/mtd/
/v0.0.2-alpha.ps1
/v0.0.2-alpha.2.ps1
/v0.0.2-alpha.1.ps1
/v0.0.2-alpha.3.ps1
/_tests/
/security/
/gflux/aspect/
/gflux/obs/sbj/channel.go
